<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>本の発売日カレンダー（仮）</h1>
        <a href="" class="btn btn-success btn-lg">ブックカレンダーを始める</a>
      </div>
    </div>
  </div>
<% end %>